@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "tailwindcss-motion";

/* FIXME: https://github.com/tailwindlabs/tailwindcss/issues/16582 */
/* @variant dark (&:where([data-theme="dark"] *)); */

@theme {
    /* Base Colors */
    --color-black: #0b0c0e;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    /* Components Colors */
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    /* Border & Input Colors */
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    /* Sidebar Colors */
    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* Status colors */
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-error: var(--error);
    --color-error-foreground: var(--error-foreground);

    /* Chart Colors */
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    /* Sidebar Width */
    --sidebar-width: 16rem;
    --sidebar-width-mobile: 18rem;
    --sidebar-width-icon: 3rem;

    /* Border Radius */
    /* --radius: 0.6rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --spacing: 0.25rem; */

    /* Typography: https://modernfontstacks.com */
    --font-sans: system-ui, Inter, Roboto, Ubuntu, "Helvetica Neue", Calibri, Arial, sans-serif;
    --font-mono: ui-monospace, "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;

    /* ------------------- Animation for accordion -------------------  */
    --animate-accordion-open: accordion-open 0.25s cubic-bezier(0.87, 0, 0.13, 1);
    --animate-accordion-close: accordion-close 0.25s cubic-bezier(0.87, 0, 0.13, 1);

    @keyframes accordion-open {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-close {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
    /* ------------------- Animation for accordion -------------------  */

    /* ------------------- Animation for dialog & drawer -------------------  */
    --animate-dialog-overlay-show: dialog-overlay-show 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-dialog-content-show: dialog-content-show 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-drawer-slide-left-and-fade: drawer-slide-left-and-fade 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-drawer-slide-right-and-fade: drawer-slide-right-and-fade 0.25s ease-in;

    @keyframes dialog-overlay-show {
        from {
          opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes dialog-content-show {
        from {
            opacity: 0;
            transform: translate(-50%, -45%);
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: translate(-50%, -50%);
            transform: scale(1);
        }
    }

    @keyframes drawer-slide-left-and-fade {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes drawer-slide-right-and-fade {
        from {
            opacity: 1;
            transform: translateX(0);
        }
        to {
            opacity: 0;
            transform: translateX(100%);
        }
    }
    /* ------------------- Animation for drawer -------------------  */

    /* ------------------- Animation for popover -------------------  */
    --animate-hide: hide 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-down-and-fade: slide-down-and-fade 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-left-and-fade: slide-left-and-fade 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-up-and-fade: slide-up-and-fade 0.25s cubic-bezier(0.16, 1, 0.3, 1);
    --animate-slide-right-and-fade: slide-right-and-fade 0.25s cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes hide {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    @keyframes slide-down-and-fade {
        from {
            opacity: 0;
            transform: translateY(-6px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes slide-left-and-fade {
        from {
            opacity: 0;
            transform: translateX(6px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes slide-up-and-fade {
        from {
            opacity: 0;
            transform: translateY(6px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes slide-right-and-fade {
        from {
            opacity: 0;
            transform: translateX(-6px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    /* ------------------- Animation for popover -------------------  */
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
