/* :root {
    --separator-border: rgba(128, 128, 128, 0.35);
    --sash-hover-transition-duration: 0.1s;
}

.allotment-splitView {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.allotment-splitView > .allotment-sashContainer {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.allotment-splitView > .allotment-sashContainer > .allotment-sash {
    pointer-events: auto;
}

.allotment-splitView > .allotment-splitViewContainer {
    height: 100%;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.allotment-splitView > .allotment-splitViewContainer > .allotment-splitViewView {
    overflow: hidden;
    position: absolute;
    white-space: initial;
}

.allotment-splitView.allotment-vertical > .allotment-splitViewContainer > .allotment-splitViewView {
    width: 100%;
}

.allotment-splitView.allotment-horizontal
    > .allotment-splitViewContainer
    > .allotment-splitViewView {
    height: 100%;
}

.allotment-splitView.allotment-separatorBorder
    > .allotment-splitViewContainer
    > .allotment-splitViewView:not(:first-child)::before {
    background-color: var(--separator-border);
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 5;
}

.allotment-splitView.allotment-separatorBorder.allotment-vertical
    > .allotment-splitViewContainer
    > .allotment-splitViewView:not(:first-child)::before {
    height: 1px;
    width: 100%;
}

.allotment-splitView.allotment-separatorBorder.allotment-horizontal
    > .allotment-splitViewContainer
    > .allotment-splitViewView:not(:first-child)::before {
    height: 100%;
    width: 1px;
} */

/* :root {
    --focus-border: #007fd4;
    --sash-size: 8px;
    --sash-hover-size: 4px;
} */

/* .sash-sash {
    position: absolute;
    z-index: 35;
    touch-action: none;
    pointer-events: auto;
    text-align: initial;
} */

.sash-disabled {
    pointer-events: none;
}

.sash-mac.sash-vertical {
    cursor: col-resize;
}

.sash-vertical.sash-minimum {
    cursor: e-resize;
}

.sash-vertical.sash-maximum {
    cursor: w-resize;
}

.sash-mac.sash-horizontal {
    cursor: row-resize;
}

.sash-horizontal.sash-minimum {
    cursor: s-resize;
}

.sash-horizontal.sash-maximum {
    cursor: n-resize;
}

.sash-disabled {
    cursor: default !important;
    pointer-events: none !important;
}

.sash-vertical {
    cursor: ew-resize;
    top: 0;
    width: var(--sash-size);
    height: 100%;
}

.sash-horizontal {
    cursor: ns-resize;
    left: 0;
    width: 100%;
    height: var(--sash-size);
}

:not(.sash-disabled) > .sash-orthogonal-drag-handle {
    content: " ";
    height: calc(var(--sash-size) * 2);
    width: calc(var(--sash-size) * 2);
    z-index: 100;
    display: block;
    cursor: all-scroll;
    position: absolute;
}

.sash-horizontal.sash-orthogonal-edge-north:not(.sash-disabled)
    > .sash-orthogonal-drag-handle.sash-start,
.sash-horizontal.sash-orthogonal-edge-south:not(.sash-disabled)
    > .sash-orthogonal-drag-handle.sash-end {
    cursor: nwse-resize;
}

.sash-horizontal.sash-orthogonal-edge-north:not(.sash-disabled)
    > .sash-orthogonal-drag-handle.sash-end,
.sash-horizontal.sash-orthogonal-edge-south:not(.sash-disabled)
    > .sash-orthogonal-drag-handle.sash-start {
    cursor: nesw-resize;
}

.sash-vertical > .sash-orthogonal-drag-handle.sash-start {
    left: calc(var(--sash-size) * -0.5);
    top: calc(var(--sash-size) * -1);
}

.sash-vertical > .sash-orthogonal-drag-handle.sash-end {
    left: calc(var(--sash-size) * -0.5);
    bottom: calc(var(--sash-size) * -1);
}

.sash-horizontal > .sash-orthogonal-drag-handle.sash-start {
    top: calc(var(--sash-size) * -0.5);
    left: calc(var(--sash-size) * -1);
}

.sash-horizontal > .sash-orthogonal-drag-handle.sash-end {
    top: calc(var(--sash-size) * -0.5);
    right: calc(var(--sash-size) * -1);
}

:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color var(--sash-hover-transition-duration) ease-out;
    background: transparent;
}

.sash-vertical:before {
    width: var(--sash-hover-size);
    left: calc(50% - (var(--sash-hover-size) / 2));
}

.sash-horizontal:before {
    height: var(--sash-hover-size);
    top: calc(50% - (var(--sash-hover-size) / 2));
}

.sash-hover:before,
.sash-active:before {
    background: var(--focus-border);
}
