@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

/* @variant dark (&:where([data-theme="dark"] *)); */
/* @source "../../node_modules/twistail-react"; */
@source "../../node_modules/fumadocs-ui/dist/**/*.js";

@theme inline {
    /* @see: https://github.com/tailwindlabs/tailwindcss/discussions/13410#discussioncomment-11928917 */
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

@layer base {
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    body {
        @apply font-sans antialiased bg-white dark:bg-neutral-950/50;
    }
    pre,
    code {
        @apply font-mono leading-6;
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
